body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header, footer {
  background-color: #111;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
}

h1, h2 {
  color: #bfa34f;
}

section p {
  font-size: 1.2em;
}
